.sf-menu/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * { margin:0; padding:0; list-style:none;  }
.sf-menu { line-height:13px; }
.sf-menu ul { position:absolute; top:-999em; width:180px; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { width:100%; }
.sf-menu li:hover { visibility:inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float:left; position:relative; margin-right:5px; }
.sf-menu a { display:block; position:relative; }
* html .sf-menu a  { position:fixed; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left:0; top:3.1em; /* match top ul list item height */ z-index:99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left:180px; /* match ul width */ top:0; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:-999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left:180px; /* match ul width */ top:0; }

.sf-menu li a {  padding:12px 12px 12px 12px; text-decoration:none;  font-size:16px; }
.sf-menu li li a, .sf-menu li li li a, .sf-menu li li li li a, .sf-menu li li li li li a { padding:10px 12px; }

/*** arrows **/
.sf-menu a.sf-with-ul { padding-right:1.8em;	min-width:1px; /* trigger IE7 hasLayout so spans position accurately */}
.sf-sub-indicator { position:absolute; display:block; right:.40em; 	_top:0.8em; /* IE6 only */ width:10px; height:10px; text-indent:-999em; overflow:hidden;}
a > .sf-sub-indicator {  top:40%; _top:0px;	 /* use translucent arrow for modern browsers*/}
* html .sf-menu li span.sf-sub-indicator { top:1.19em; /* IE6 only */ }
* html .sf-menu li ul li span.sf-sub-indicator { top:0.7em; /* IE6 only */ }

.sf-shadow ul {	padding: 0 8px 9px 0;-moz-border-radius-bottomleft: 17px;-moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px; }



.menu/*** ESSENTIAL STYLES ***/
.menu, .menu * { margin:0; padding:0; list-style:none;  }
.menu { line-height:13px; }
.menu ul { position:absolute; top:-999em; width:180px; /* left offset of submenus need to match (see below) */ }
.menu ul li { width:100%; }
.menu li:hover { visibility:inherit; /* fixes IE7 'sticky bug' */ }
.menu li { float:left; position:relative; margin-right:5px; }
.menu a { display:block; position:relative; }
* html .menu a  { position:fixed; }
.menu li:hover ul, .menu li.sfHover ul { left:0; top:3.1em; /* match top ul list item height */ z-index:99; }
ul.menu li:hover li ul, ul.menu li.sfHover li ul { top:-999em; }
ul.menu li li:hover ul, ul.menu li li.sfHover ul {left:180px; /* match ul width */ top:0; }
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul { top:-999em; }
ul.menu li li li:hover ul, ul.menu li li li.sfHover ul { left:180px; /* match ul width */ top:0; }

.menu li a {  padding:12px 12px 12px 12px; text-decoration:none;  font-size:16px; }
.menu li li a, .menu li li li a, .menu li li li li a, .menu li li li li li a { padding:10px 12px; }

/*** arrows **/
.menu a.sf-with-ul { padding-right:1.8em;	min-width:1px; /* trigger IE7 hasLayout so spans position accurately */}
.sf-sub-indicator { position:absolute; display:block; right:.40em; 	_top:0.8em; /* IE6 only */ width:10px; height:10px; text-indent:-999em; overflow:hidden;}
a > .sf-sub-indicator {  top:40%; _top:0px;	 /* use translucent arrow for modern browsers*/}
* html .menu li span.sf-sub-indicator { top:1.19em; /* IE6 only */ }
* html .menu li ul li span.sf-sub-indicator { top:0.7em; /* IE6 only */ }




